.banner {
	background-image: url("../../images/HECFEST.png");
	background-size: cover;
	width: 100vw;
	background-position: center;
	padding: 150px 0px;
}
	

.banner h1 {
	font-size: 60px;
	color:#fefefe;
}

.banner h2 {
	font-size: 40px;
	font-weight:lighter;
	opacity: 0.9;
	margin-bottom:40px;
	color:#fefefe;
}

